* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(to right, rgb(92, 187, 224) , rgb(226, 242, 245));

}

section.interface {
    display: flex;
    align-items: center;
    width: 150px;
    height: 300px;
    font-size: 30px;
    margin: 25% auto;
    text-align: center;
    background-color: rgb(179, 179, 179);
    border-radius: 100px;
    border: 10px solid rgb(15, 15, 15)
}

.cima{
    width: 100%;
}
.meio{
    width: 100%;
}
.baixo{
    width: 100%;
}