* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(to right, rgb(92, 187, 224) , rgb(226, 242, 245));

}

.container{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 650px;
    

}

section.interface {
    width: 150px;
    height: 300px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(179, 179, 179);
    border-radius: 100px;
    border: 10px solid rgb(15, 15, 15)
}

.botao{
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    margin-top: 50%;
    
}

.botao p{
    width: 50%;
    
}

.botao p.zero{
    width: 33%;
    color: rgb(3, 68, 3);
}

.play{
    font-size: 40px;
    color: blanchedalmond;
    margin-top: 13%;
    height: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: black;
}

