* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(to right, rgb(92, 187, 224) , rgb(226, 242, 245));

}

section.interface {
    width: 150px;
    height: 300px;
    font-size: 30px;
    margin: 25% auto;
    text-align: center;
    background-color: rgb(179, 179, 179);
    border-radius: 100px;
    border: 10px solid rgb(15, 15, 15)
}

.seta-esquerda-cima {

    display: inline-block;

}

.seta-direita-cima {
    display: inline-block;
}

.seta-direita-baixo{
    display: inline-block;
}